h1{color: firebrick;
    font-family:fantasy,serif;
}
html {background-color:aquamarine}
 body { 
display: grid;
grid-auto-columns: 2fr 1fr;
grid-template-columns: auto;
}
.grid-container {
  display: grid;
}
nav {
   display: grid;
    width:50%;
    margin: 0 auto;
   font-family: fantasy,serif;
    text-align: center;
}
nav li {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
nav > ul { display: grid;
    line-height:3em;
     list-style-type: none;
     padding-left:4px;
      }
nav a:link, 
nav a:visited {
   color: brown;
}
nav a:hover, 
nav a:active {
   background-color: black;
}   
